.error {
  position: relative;
  background-color: #C21F39 !important;
}

.login-wrap {
  width: 300px;
  border-radius: 5px;
  margin: 10% auto 0 auto;
  padding: 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

.item {
  position: relative;
  margin-bottom: 15px;
}

.item input {
  border: 0;
  background: #fbf9fe;
  width: 220px;
  height: 35px;
  outline: none;
  border-bottom: 1px solid #42b983;
}

.item .inputFocus {
  border-bottom: 1px solid #5fcdf0;
}

.item label {
  position: absolute;
  transition: all linear .2s;
  color: #999;
  left: 55px;
  top: 10px;
}

.item .labelFocus {
  left: 42px;
  top: -9px;
}

.login-btn {
  border: none;
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: #5fcdf0;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  margin: 30px auto 20px;
  transition: all linear .2s;
}

.login-btn:hover {
  background-color: #0074D9;
}

.user-reg {
  transition: all linear .2s;
  font-size: 12px;
  text-decoration: none;
  color: #999;
}

.user-reg:hover {
  color: #000;
}
